---
import { getCollection } from 'astro:content';
import { SITE_LOCALES, SITE_DISCRIPTION } from '../../../config';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { useTranslations } from '../../../i18n';

export async function getStaticPaths() {
  return SITE_LOCALES.map((lang) => ({ params: { lang } }));
}

const { lang } = Astro.params;
const t = useTranslations(lang);

const allPosts = await getCollection('solution');

const title = t('nav.solution');
---

<BaseLayout title={title} description={SITE_DISCRIPTION} lang={lang}>
  <h1>{title}</h1>
  <ul>
    {
      allPosts.map((post) => {
        return (
          <li>
            <a href={`/${lang}/oi-notes/${post.id}`}>{post.data.title}</a>
          </li>
        );
      })
    }
  </ul>
</BaseLayout>
