---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const allPosts = (await getCollection("posts")).sort(
    (p, q) => p.data.pubDate.getTime() - q.data.pubDate.getTime(),
  );
  const uniqueTags = [
    ...new Set(
      allPosts
        .map((post) => (post.data.tags ? post.data.tags.split(" ") : []))
        .flat(),
    ),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.split(" ").includes(tag),
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

const title = `帶有 ${tag} 標籤的博客`;
---

<BaseLayout title={title}>
  <h1>{title}</h1>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/posts/${post.id}`} title={post.data.title}>
            {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
