---
import { SITE_LOCALES, type Lang } from '../config';
import { formatDate } from '../utils';
import { useTranslations } from '../i18n';

interface Props {
  lang: Lang;
  description: string;
  linkTags: boolean;
  frontmatter: any;
}

const { title, pubDate, tags, opencc } = Astro.props.frontmatter;
const linkTags = Astro.props.linkTags || false;
const { lang, description } = Astro.props;
const originalLang = opencc ? SITE_LOCALES.find((l) => l !== lang) : lang;

const t = useTranslations(lang);

import BaseLayout from '../layouts/BaseLayout.astro';
import LanguageNotice from '../components/LanguageNotice.astro';
import Giscus from '../components/Giscus.astro';

import '../styles/shiki.css';
import '../styles/posts.css';

import 'katex/dist/katex.css';
---

<BaseLayout
  title={title}
  description={description}
  ogType="article"
  lang={lang}
  pubDate={pubDate}
>
  <div id="post-meta">
    <h1>{title}</h1>
    {
      pubDate && (
        <>
          <span>{t('post.date')}：</span>
          <time>{formatDate(pubDate)}</time>
          <br />
        </>
      )
    }
    {tags && <span>{t('post.tags')}：</span>}
    {
      tags &&
        tags.split(' ').map((tag: string) =>
          linkTags ? (
            <a class="tags" href={`/${lang}/tags/${tag}`}>
              {tag}
            </a>
          ) : (
            <span class="tags">{tag}</span>
          ),
        )
    }
    {tags && <br />}
  </div>

  <hr />

  {
    opencc && (
      <LanguageNotice from={originalLang} to={lang} displayLang={lang} />
    )
  }

  <div class="post-content" lang={lang}>
    <slot />
  </div>

  <hr />

  <Giscus />
</BaseLayout>

<style>
  .tags {
    font-family: var(--mono-font);
    background-color: var(--bg-main);
    margin-right: 0.4em;
    padding: 0 0.2em;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    display: inline-block;

    text-decoration: none;
  }
</style>
