---
import { SITE_LANG } from "../config";
import { formatDate } from "../utils";
const { title, pubDate, tags } = Astro.props.frontmatter;
const linkTags = Astro.props.linkTags || false;
const lang = Astro.props.frontmatter.lang || SITE_LANG;

import BaseLayout from "../layouts/BaseLayout.astro";
import Giscus from "../components/Giscus.astro";

import "../styles/shiki.css";
import "../styles/posts.css";
---

<BaseLayout title={title}>
  <div id="post-meta">
    <h1>{title}</h1>
    {
      pubDate && (
        <>
          <span>日期：</span>
          <time>{formatDate(pubDate)}</time>
          <br />
        </>
      )
    }
    {tags && <span>標籤：</span>}
    {
      tags &&
        tags.split(" ").map((tag) =>
          linkTags ? (
            <a class="tags" href={`/tags/${tag}`}>
              {tag}
            </a>
          ) : (
            <span class="tags">{tag}</span>
          ),
        )
    }
    {tags && <br />}
  </div>

  <hr />

  <div id="post-content" lang={lang}>
    <slot />
  </div>

  <hr />

  <Giscus />
</BaseLayout>

<style>
  .tags {
    font-family: var(--mono-font);
    background-color: var(--bg-main);
    margin-right: 0.4em;
    padding: 0 0.2em;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    display: inline-block;

    text-decoration: none;
  }
</style>
